<div class="col-md-12">
<h1 class="banner">Stupid Coach</h1>
<p>-------------------------</p>
<br>
<br>
<p>Here's what I think:</p>
<%= @result %>
<br>
<br>
<br>
<%= link_to "More questions?", "/ask" %>
</div>
