<div class="container">
  <div class="col d-flex flex-column justify-content-between">
    <h1 class="banner">Stupid Coach</h1>
    <p>-------------------------</p>
    <br>
    <br>
    <form action="/answer" data-turbo="false">
    <input class="form-control form-control-lg" type="text" name="answer">
    <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
